.upload-header {
  background-color: white;
  border-bottom: 1px solid rgb(226, 223, 223);
}

.upload-logo {
  color: #111;
}

.upload-nav a {
  color: black;
}

.upload-signin {
  color: #111;
}

.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.upload-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
}

.upload-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.upload-input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-end;
}

.submit-button:hover {
  background-color: #45a049;
}
