.reset-password-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-modal form {
  display: flex;
  flex-direction: column;
}

.reset-password-modal form div {
  margin-bottom: 10px;
}

.reset-password-modal form label {
  margin-bottom: 5px;
}

.reset-password-modal form input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reset-password-modal form .error-message {
  color: red;
  margin-bottom: 10px;
}

.reset-password-modal form button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.reset-password-modal form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
